.window
  %table.summary
    %tr
      %th Message
      %td.main.nowrap= notice.message
    - if notice.request['url'].present?
      %tr
        %th URL
        %td.nowrap= link_to notice.request['url'], notice.request['url']
    %tr
      %th Where
      %td= notice.err.where
    %tr
      %th Occurred
      %td= notice.created_at.to_s(:micro)
    %tr
      %th Similar
      %td= notice.err.notices.count - 1
    %tr
      %th Browser
      %td= user_agent_graph(notice.err)
