<%# locals: (notice:, problem:) %>

<div class="window">
  <table class="summary">
    <tr>
      <th><%= t(".message") %></th>
      <td class="main nowrap"><%= message_graph(problem) %></td>
    </tr>

    <tr>
      <th><%= t(".error_class") %></th>
      <td><%= notice.error_class %></td>
    </tr>

    <% if notice.request["url"].present? %>
      <tr>
        <th><%= t(".url") %></th>
        <td class="nowrap"><%= link_to notice.request["url"], notice.request["url"] %></td>
      </tr>
    <% end %>

    <tr>
      <th><%= t(".where") %></th>
      <td><%= notice.where %></td>
    </tr>

    <tr>
      <th><%= t(".occurred") %></th>
      <td><%= notice.created_at.to_fs(:precise) %></td>
    </tr>

    <tr>
      <th><%= t(".similar") %></th>
      <td><%= problem.notices_count - 1 %></td>
    </tr>

    <tr id="sparkline-placeholder"></tr>

    <tr>
      <th><%= t(".browser") %></th>
      <td><%= user_agent_graph(problem) %></td>
    </tr>

    <tr>
      <th><%= t(".tenant") %></th>
      <td><%= tenant_graph(problem) %></td>
    </tr>
  </table>
</div>
