- content_for :title, 'Config'

- content_for :action_bar, link_to('cancel', users_path, :class => 'button')

= form_for @config, url: site_config_index_path, method: 'put' do |f|
  = errors_for @config

  %fieldset
    %legend Notice Fingerprinter
    %p
      The notice fingerprinter governs how error notifications are grouped.
      Each item counts toward an error's uniqueness if enabled.

    = f.fields_for :notice_fingerprinter do |g|
      .checkbox
        = g.check_box :error_class
        = g.label :error_class, 'Error class'

      .checkbox
        = g.check_box :message
        = g.label :message, 'Error message'

      %div
        = g.label :backtrace_lines, 'Number of backtrace lines (-1 for unlimited)'
        = g.text_field :backtrace_lines

      .checkbox
        = g.check_box :component
        = g.label :component, 'Component (or controller)'

      .checkbox
        = g.check_box :action
        = g.label :action, 'Action'

      .checkbox
        = g.check_box :environment_name
        = g.label :environment_name, 'Environment name'

  %div.buttons= f.submit 'Update Config'
