<% content_for :title, t(".title") %>

<% content_for :action_bar do %>
  <%= link_to users_path, class: "button" do %>
    <%= fa_icon("arrow-rotate-left") %> <%= t(".cancel") %>
  <% end %>
<% end %>

<%= form_for @config, url: site_config_index_path, method: :patch do |f| %>
  <%= errors_for @config %>

  <fieldset>
    <legend><%= t("notice_fingerprinter.title") %></legend>
    <p><%= t("notice_fingerprinter.text") %></p>

    <%= render "shared/notice_fingerprinter", f: f %>
  </fieldset>

  <div class="buttons">
    <%= button_tag(type: "submit") do %>
      <%= fa_icon("floppy-disk") %> <%= t(".update_config") %>
    <% end %>
  </div>
<% end %>
