<tr>
  <td class="section">
    <table cellpadding="0" cellspacing="0" border="0" align="left">
      <tbody>
        <tr>
          <td class="content" valign="top">
            <div>
              <p>
                <%= @user.name %>
                has just commented on an error that occurred in
                <%= link_to(@app.name, app_url(@app), class: "bold") << "," %>
                on the
                <span class="bold"><%= @problem.environment %></span>
                environment.
                <br>
                This error has occurred <%= pluralize(@problem.notices_count, "time") %>.
              </p>

              <p>
                <%= link_to("Click here to view the error and add a comment on Errbit", app_problem_url(@app, @problem), class: "bold") << "." %>
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>

<tr>
  <td class="section">
    <table cellpadding="0" cellspacing="0" border="0" align="left">
      <tbody>
        <tr>
          <td class="content" valign="top">
            <div>
              <p class="heading">COMMENT:</p>

              <br>

              <p><%= @comment.body.to_s.gsub("\n", "<br>").html_safe %></p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>

<tr>
  <td class="section">
    <table cellpadding="0" cellspacing="0" border="0" align="left">
      <tbody>
        <tr>
          <td class="content" valign="top">
            <div>
              <p class="heading">ERROR MESSAGE:</p>

              <p><%= @problem.message %></p>

              <p class="heading">WHERE:</p>

              <p class="monospace">
                <%= @problem.where %>
              </p>

              <p class="heading">URL:</p>

              <p class="monospace">
                <% if @notice.request["url"].present? %>
                  <%= link_to @notice.request["url"], @notice.request["url"] %>
                <% end %>
              </p>

              <p class="heading">BROWSER:</p>

              <p class="monospace">
                <%= user_agent_graph(@problem) %>
              </p>

              <br>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
