%table.errs
  %thead
    %tr
      %th App
      %th When
      %th Who
      %th Message
      %th Repository
      %th Revision
  %tbody
    - deploys.each do |deploy|
      %tr
        %td.app
          = deploy.app.name
          %span.environment= deploy.environment
        %td.latest #{time_ago_in_words(deploy.created_at)} ago
        %td.who #{deploy.username}
        %td.message #{deploy.message}
        %td.repository #{deploy.repository}
        %td.revision #{deploy.revision}
