- if app.issue_tracker_configured?
  - tracker = app.issue_tracker
  - tracker_type = tracker.type
  - if problem.issue_link.present?
    %span
      = link_to problem.issue_link, :class => "goto-issue btn btn-default", target: '_blank' do
        %img.button-icon{"src" => tracker_type.icons[:goto]}
        = t('.go_to_issue')
    = link_to unlink_issue_app_problem_path(app, problem), :method => :delete, :data => { :confirm => t('.unlink_err_issues') }, :class => "unlink-issue btn btn-default" do
      %img.button-icon{"src" => tracker_type.icons[:destroy] || tracker_type.icons[:create] }
      = t('.unlink_issue')
    - if tracker.tracker.respond_to? :close_issue
      %span
        = link_to close_issue_app_problem_path(app, problem), method: :post, :class => "close-issue" do
          %img.button-icon{"src" => tracker_type.icons[:create]}
          close issue
  - elsif problem.issue_link == "pending"
    %span.disabled
      = link_to '#', :class => "create-issue btn btn-default disabled" do
        %img.button-icon{"src" => tracker_type.icons[:inactive]}
        = t('.creating')
    = link_to create_issue_app_problem_path(app, problem), :method => :post do
      = t('.retry')
  - else
    %span
      = link_to create_issue_app_problem_path(app, problem), method: :post, :class => "create-issue btn btn-default" do
        %img.button-icon{"src" => tracker_type.icons[:create]}
        = t('.create_issue')
