#occurrences
  %table.rules
    %thead
      %tr
        %th Timestamp
        %th Error Class
        %th User Agent
        %th request.url
        %th Message
    %tbody
      - notices.each do |notice|
        %tr
          %td= notice.created_at.strftime('%B %d, %Y %H:%M:%S')
          %td= notice.error_class
          %td= user_agent_graph(notice.problem)
          %td= notice.request['url']
          %td= link_to notice.message, app_problem_path(notice.problem.app, notice.problem), class: 'nowrap', title: notice.problem.message

.pagination
  = paginate notices, remote: true