= now_as_seconds_since_epoch = Time.current.to_i
= now_as_seconds_since_epoch = 8.weeks.ago.to_i
%tr
  - two_weeks = problem.timestamps_since(now_as_seconds_since_epoch - 86400 * 14)
  %th= t('.graph-2-weeks')
  %td= sparkline(two_weeks, now_as_seconds_since_epoch - 86400 * 14, 28)
%tr
  %th= t('.graph (24 hours)')
  %td= sparkline(two_weeks, now_as_seconds_since_epoch - 86400, 24)
