= errors_for @user

.required
  = f.label :name
  = f.text_field :name
  
.required
  = f.label :email
  = f.text_field :email
  
.required
  = f.label :password
  = f.password_field :password
  
.required
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  
.checkbox
  = f.check_box :admin
  = f.label :admin, 'Admin?'