= errors_for @user

.required
  = f.label :name
  = f.text_field :name
  
.required
  = f.label :email
  = f.text_field :email

.required
  = f.label 'Entries per page'
  = f.select :per_page, [10, 20, 30, 50, 75, 100]
  
.required
  = f.label :password
  = f.password_field :password
  
.required
  = f.label :password_confirmation
  = f.password_field :password_confirmation

- if current_user.admin?
  .checkbox
    = f.check_box :admin
    = f.label :admin, 'Admin?'