- content_for :title, "#{I18n.t('users.edit.title')} #{user.name}"
- content_for :action_bar do
  = render 'shared/link_github_account', :user => user
  = render 'shared/link_google_account'
  = link_to(t('.cancel'), user_path(user), :class => 'button')

= form_for user, :html => {:autocomplete => "off"} do |f|
  = user.errors.full_messages.to_sentence
  = render 'fields', :f => f

  %div.buttons= f.submit t('.update_user')
