<% content_for :title, "#{t(".title")} #{@user.name}" %>

<% content_for :action_bar do %>
  <%= render "shared/new_link_github_account", user: @user %>
  <%= render "shared/new_link_google_account", user: @user %>
<% end %>

<% content_for :breadcrumb do %>
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
          <li class="breadcrumb-item"><%= link_to("Users", users_path) %></li>
          <li class="breadcrumb-item"><%= link_to(@user.name, user_path(@user)) %></li>
          <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
      </nav>
    </div>
  </div>
<% end %>

<%= form_for @user, html: {autocomplete: "off"} do |f| %>
  <%= render "fields", f: f, user: @user %>

  <div class="row">
    <div class="col text-center">
      <%= button_tag type: :submit, class: "btn btn-primary" do %>
        <%= inline_svg_tag "icons/floppy.svg" %> <%= t(".update_user") %>
      <% end %>
    </div>
  </div>
<% end %>
