- content_for :title, "Edit #{user.name}"
- content_for :action_bar do
  = render 'shared/link_github_account', :user => user
  = link_to('cancel', user_path(user), :class => 'button')

= form_for user, :html => {:autocomplete => "off"} do |f|
  = user.errors.full_messages.to_sentence
  = render 'fields', :f => f

  %div.buttons= f.submit 'Update User'
