<% content_for :title, t(".title") %>

<% content_for :action_bar do %>
  <span>
    <%= link_to new_user_path do %>
      <i class="fa fa-plus-circle"></i>
      <%= t(".new") %>
    <% end %>
  </span>
<% end %>

<table class="users">
  <thead>
    <tr>
      <% if Rails.configuration.errbit.use_gravatar %>
        <th>&nbsp;</th>
      <% end %>
      <th><%= t(".name") %></th>
      <% if Rails.configuration.errbit.user_has_username %>
        <th><%= t(".username") %></th>
      <% end %>
      <th class="main"><%= t(".email") %></th>
      <th><%= t(".admin") %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="user_list">
        <% if Rails.configuration.errbit.use_gravatar %>
          <td><%= gravatar_tag(user.email, s: 24) %></td>
        <% end %>
        <td class="nowrap"><%= link_to user.name, user_path(user) %></td>
        <% if Rails.configuration.errbit.user_has_username %>
          <td><%= user.username %></td>
        <% end %>
        <td><%= user.email %></td>
        <td><%= user.admin? ? t(".admin_yes") : t(".admin_no") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
