- content_for :title, t('.users')
- content_for :action_bar do
  %span
    = link_to(new_user_path, class: 'btn btn-success') do
      %i.fa.fa-plus-circle
      = t('.new')

.users-list.list-group
  - users.each do |user|
    = link_to user_path(user), class: 'list-group-item' do
      - if Errbit::Config.use_gravatar
        .mug
          = gravatar_tag user.email, :s => 48
      - if user.admin?
        %div.admin= t('.admin')
      .info
        .name= user.name
        - if Errbit::Config.user_has_username
          .username= user.username
        .email= user.email

= paginate users

