<% content_for :title, t(".title") %>

<% content_for :action_bar do %>
  <% if current_user.admin? %>
    <div class="row">
      <div class="col-12">
        <%= link_to new_user_path, class: "btn btn-primary w-100" do %>
          <%= inline_svg_tag "icons/person-fill-add.svg" %> <%= t(".new") %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<% content_for :breadcrumb do %>
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= t(".title") %></li>
        </ol>
      </nav>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-12 table-responsive">
    <table id="users" class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <% if Errbit::Config.use_gravatar %>
            <th scope="col">&nbsp;</th>
          <% end %>
          <th scope="col" class="text-center"><%= t(".name") %></th>
          <% if Errbit::Config.user_has_username %>
            <th scope="col" class="text-center"><%= t(".username") %></th>
          <% end %>
          <th scope="col" class="text-center"><%= t(".email") %></th>
          <th scope="col" class="text-center"><%= t(".admin") %></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <% if Errbit::Config.use_gravatar %>
              <td class="text-center"><%= gravatar_tag(user.email, s: 24) %></td>
            <% end %>
            <td><%= link_to user.name, user_path(user) %></td>
            <% if Errbit::Config.user_has_username %>
              <td><%= user.username %></td>
            <% end %>
            <td class="align-middle"><%= user.email %></td>
            <td class="text-center align-middle">
              <% if user.admin? %>
                <%= inline_svg_tag "icons/check-circle.svg", class: "text-success" %>
              <% else %>
                <%= inline_svg_tag "icons/x-circle.svg", class: "text-danger" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= paginate @users %>
