- content_for :title, t('.title')
- content_for :action_bar do
  %span
    = link_to(new_user_path) do
      %i.fa.fa-plus-circle
      = t('.new')

%table.users
  %thead
    %tr
      - if Errbit::Config.use_gravatar
        %th
      %th= t('.name')
      - if Errbit::Config.user_has_username
        %th= t('.username')
      %th.main= t('.email')
      %th= t('.admin')
  %tbody
    - users.each do |user|
      %tr.user_list
        - if Errbit::Config.use_gravatar
          %td= gravatar_tag user.email, :s => 24
        %td.nowrap= link_to user.name, user_path(user)
        - if Errbit::Config.user_has_username
          %td= user.username
        %td= user.email
        %td= user.admin? ? t('.admin_yes') : t('.admin_no')
= paginate users

