- content_for :title, @user.name
- content_for :action_bar do
  %span= link_to('Add a New User', new_user_path, :class => 'add')
  = link_to 'edit', edit_user_path(@user), :class => 'button'
  = link_to 'destroy', user_path(@user), :method => :delete, :confirm => 'Seriously?', :class => 'button'

%table.single_user
  %tr
    %th Email
    %td.main= @user.email
  - if Errbit::Config.user_has_username
    %tr
      %th Username
      %td.main= @user.username
  %tr
    %th Token
    %td= @user.authentication_token
  %tr
    %th Admin?
    %td= @user.admin? ? 'Y' : 'N'
  %tr
    %th Created
    %td= @user.created_at.to_s(:micro)

