<% content_for :title, @user.name %>

<% if Errbit::Config.use_gravatar && (gravatar = gravatar_url(@user.email, s: 86)) %>
  <% content_for :title_style do %>
    background: url('<%= gravatar %>') no-repeat;
    padding-left: 106px;
  <% end %>
<% end %>

<% content_for :action_bar do %>
  <div class="row">
    <div class="col-3">
      <%= render "shared/link_github_account", user: @user %>
    </div>
    <div class="col-3">
      <%= render "shared/link_google_account", user: @user %>
    </div>
    <div class="col-6 text-end">
      <%= link_to edit_user_path(@user), class: "btn btn-primary" do %>
        <%= inline_svg_tag "icons/pencil-square.svg" %> <%= t(".edit") %>
      <% end %>

      <%= link_to user_path(@user),
        method: :delete,
        data: {
          confirm: t(".confirm_delete")
        },
        class: "btn btn-danger" do %>
        <%= inline_svg_tag "icons/trash.svg" %> <%= t(".destroy") %>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :breadcrumb do %>
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
          <li class="breadcrumb-item"><%= link_to("Users", users_path) %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= @user.name %></li>
        </ol>
      </nav>
    </div>
  </div>
<% end %>

<table class="table table-bordered table-hover table-striped">
  <tr>
    <th>Name</th>
    <td><%= @user.name %></td>
  </tr>

  <tr>
    <th><%= t(".email") %></th>
    <td><%= @user.email %></td>
  </tr>

  <% if Errbit::Config.user_has_username %>
    <tr>
      <th><%= t(".username") %></th>
      <td><%= @user.username %></td>
    </tr>
  <% end %>

  <% if Errbit::Config.github_authentication && @user.github_login.present? %>
    <tr>
      <th><%= "#{Errbit::Config.github_site_title} Login" %></th>
      <td><%= link_to @user.github_login, "#{Errbit::Config.github_url}/#{@user.github_login}" %></td>
    </tr>
  <% end %>

  <tr>
    <th><%= t(".admin") %></th>
    <td>
      <% if @user.admin? %>
        <%= inline_svg_tag "icons/check-circle.svg", class: "text-success" %>
      <% else %>
        <%= inline_svg_tag "icons/x-circle.svg", class: "text-danger" %>
      <% end %>
    </td>
  </tr>

  <tr>
    <th><%= t(".created") %></th>
    <td><%= @user.created_at.to_fs(:micro) %></td>
  </tr>
</table>
