- content_for :title, "Change your password"
.col-sm-6
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    = errors_for resource
    = f.hidden_field :reset_password_token
    .form-group
      = f.label :password, 'New password', :class => 'control-label'
      = f.password_field :password, :class => 'form-control'
    .form-group
      = f.label :password_confirmation, 'Type your new password again', :class => 'control-label'
      = f.password_field :password_confirmation, :class => 'form-control'
    = f.submit "Change my password", :class => 'btn btn-primary'
