- content_for :title, "Change your password"

= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  .required
    = f.label :password, 'New password'
    = f.password_field :password
  .required
    = f.label :password_confirmation, 'One more time'
    = f.password_field :password_confirmation
  %div= f.submit "Change my password"