<div id="nav-bar">
  <ul>
    <li class="<%= active_if_here(:apps) %>">
      <%= link_to apps_path do %>
        <%= fa_icon("briefcase") %>
        <%= t(".apps") %>
      <% end %>
    </li>
    <li class="<%= active_if_here(:problems) %>">
      <%= link_to problems_path do %>
        <%= fa_icon("triangle-exclamation") %>
        <%= t(".errors") %>
      <% end %>
    </li>
    <% if user_signed_in? && current_user.admin? %>
      <li class="<%= active_if_here(:users) %>">
        <%= link_to users_path do %>
          <%= fa_icon("users") %>
          <%= t(".users") %>
        <% end %>
      </li>
      <li class="<%= active_if_here(:site_config) %>">
        <%= link_to site_config_index_path do %>
          <%= fa_icon("wrench") %>
          <%= t(".config") %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div class="clear"></div>
</div>
