[See this exception on Errbit](<%= app_err_url err.app, err %> "See this exception on Errbit")
<% if notice = err.notices.first %>
# <%= notice.message %> #
## Summary ##
<% if notice.request['url'].present? %>
  ### URL ###
  [<%= notice.request['url'] %>](<%= notice.request['url'] %>)"
<% end %>
### Where ###
<%= notice.where %>

### Occured ###
<%= notice.created_at.to_s(:micro) %>

### Similar ###
<%= (notice.problem.notices_count - 1).to_s %>

## Params ##
```
<%= pretty_hash(notice.params) %>
```

## Session ##
```
<%= pretty_hash(notice.session) %>
```

## Backtrace ##
```
<% for line in notice.backtrace %><%= line['number'] %>:  <%= line['file'].to_s.sub(/^\[PROJECT_ROOT\]/, '') %> -> **<%= line['method'] %>**
<% end %>
```

## Environment ##

<table>
<% for key, val in notice.env_vars %>
  <tr>
    <td><%= key %>:</td>
    <td><%= val %></td>
  </tr>
<% end %>
</table>
<% end %>

