<% if notice = problem.notices.first %>
## Params ##
```
<%= pretty_hash(notice.params) %>
```

## Session ##
```
<%= pretty_hash(notice.session) %>
```

## Backtrace ##
```
<% notice.backtrace_lines.each do |line| %><%= line.number %>:  <%= line.file_relative %> -> **<%= line.method %>**
<% end %>
```

## Environment ##

<table>
<% for key, val in notice.env_vars %>
  <tr>
    <td><%= key %>:</td>
    <td><%= val %></td>
  </tr>
<% end %>
</table>
<% end %>

