- content_for :title, 'Apps'
- content_for :action_bar do
  %span= link_to('Add a New App', new_project_path, :class => 'add')

%table.projects
  %thead
    %tr
      %th Name
      %th Last Deploy
      %th Errors
  %tbody
    - @projects.each do |project|
      %tr
        %td.name= link_to project.name, project_path(project)
        %td.deploy= project.last_deploy_at ? project.last_deploy_at.to_s(:micro) : 'n/a'
        %td.count
          - if project.errs.any?
            = link_to project.errs.unresolved.count, project_errs_path(project)
          - else
            \-
    - if @projects.none?
      %tr
        %td{:colspan => 3}
          %em
            No projects here.
            = link_to 'Click here to create your first one', new_project_path