%table.errs
  %thead
    %tr
      %th App
      %th What &amp; Where
      %th Latest
      %th Deploy
      %th Count
  %tbody
    - errs.each do |err|
      %tr{:class => err.resolved? ? 'resolved' : 'unresolved'}
        %td.app
          = err.app.name
          %span.environment= err.environment
        %td.message
          = link_to err.message, app_err_path(err.app, err)
          %em= err.where
        %td.latest #{time_ago_in_words(err.last_notice_at)} ago
        %td.deploy= err.app.last_deploy_at ? err.app.last_deploy_at.to_s(:micro) : 'n/a'
        %td.count= link_to err.notices.count, app_err_path(err.app, err)
    - if errs.none?
      %tr
        %td{:colspan => (@app ? 5 : 6)}
          %em No errs here
= will_paginate @errs, :previous_label => '&laquo; Previous', :next_label => 'Next &raquo;'