%table.errs
  %thead
    %tr
      %th
      - unless @app
        %th App
      %th What &amp; Where
      %th Latest
      %th Deploy
      %th Count
  %tbody
    - errs.each do |err|
      %tr
        %td.environment
          %abbr{:title => err.environment}= err.environment.chars.first.upcase
        - unless @app
          %td.app= err.app.name
        %td.message
          = link_to err.message, app_err_path(err.app, err)
          %em= err.where
        %td.latest #{time_ago_in_words(err.last_notice_at)} ago
        %td.deploy= err.app.last_deploy_at ? err.app.last_deploy_at.to_s(:micro) : 'n/a'
        %td.count= link_to err.notices.count, app_err_path(err.app, err)
    - if errs.none?
      %tr
        %td{:colspan => (@app ? 5 : 6)}
          %em No errs have been caught, yet
= will_paginate @errs, :previous_label => '&laquo; Previous', :next_label => 'Next &raquo;'