- content_for :page_title, @err.message
- content_for :title, @err.klass
- content_for :meta do
  %strong App:
  = @app.name
  %strong Where:
  = @err.where
  %strong Environment:
  = @err.environment
  %strong Last Notice:
  = last_notice_at(@err).to_s(:micro)
- content_for :action_bar do
  - if @err.app.issue_tracker
    - if @err.issue_link.blank?
      %span= link_to 'create issue', create_issue_app_err_path(@app, @err), :method => :post, :class => "#{@app.issue_tracker.issue_tracker_type}_create create-issue"
    - else
      %span= link_to 'go to issue', @err.issue_link, :class => "#{@app.issue_tracker.issue_tracker_type}_goto goto-issue"
      = link_to 'clear issue', clear_issue_app_err_path(@app, @err), :method => :delete, :confirm => "Clear err issues?", :class => "clear-issue"
  - if @err.unresolved?
    %span= link_to 'resolve', resolve_app_err_path(@app, @err), :method => :put, :confirm => err_confirm, :class => 'resolve'

%h4= @notice.try(:message)

= will_paginate @notices, :param_name => :notice, :page_links => false, :class => 'notice-pagination'
viewing occurrence #{@notices.current_page} of #{@notices.total_pages}

.tab-bar
  %ul
    %li= link_to 'Summary', '#summary', :rel => 'summary', :class => 'button'
    %li= link_to 'Backtrace', '#backtrace', :rel => 'backtrace', :class => 'button'
    %li= link_to 'Environment', '#environment', :rel => 'environment', :class => 'button'
    %li= link_to 'Parameters', '#params', :rel => 'params', :class => 'button'
    %li= link_to 'Session', '#session', :rel => 'session', :class => 'button'

- if @notice
  #summary
    %h3 Summary
    = render 'notices/summary', :notice => @notice

  #backtrace
    %h3 Backtrace
    = render 'notices/backtrace', :lines => @notice.backtrace

  #environment
    %h3 Environment
    = render 'notices/environment', :notice => @notice

  #params
    %h3 Parameters
    = render 'notices/params', :notice => @notice

  #session
    %h3 Session
    = render 'notices/session', :notice => @notice
