- content_for :title, @err.message
- content_for :meta do
  %strong Where:
  = @err.where
  %strong Environment:
  = @err.environment.titleize
  %strong Type:
  = @err.klass
  %strong Last Notice:
  = @err.last_notice_at.to_s(:micro)
- content_for :action_bar do
  = will_paginate @notices, :param_name => :notice, :page_links => false
  .float-left viewing occurrence #{@notices.current_page} of #{@notices.total_pages}
  = link_to "back to '#{@app.name}'", app_path(@app)
  |
  = link_to 'resolve', resolve_app_err_path(@app, @err), :method => :put, :confirm => 'Seriously?' if @err.unresolved?

%h3#summary Summary
= render 'notices/summary', :notice => @notice

%h3#backtrace Backtrace
= render 'notices/backtrace', :lines => @notice.backtrace

%h3#environment Environment
= render 'notices/environment', :notice => @notice

%h3#params Parameters
= render 'notices/params', :notice => @notice

%h3#session Session
= render 'notices/session', :notice => @notice