- content_for :title, 'Sign in'

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .required
    = f.label :email
    = f.text_field :email
  .required
    = link_to 'forget it?', new_password_path(resource_name), :class => 'float-right'
    = f.label :password
    = f.password_field :password
    
  - if devise_mapping.rememberable?
    %div.checkbox
      = f.check_box :remember_me
      = f.label :remember_me
      
  %div= f.submit "Sign in"