- content_for :title, 'Sign in'
- auth_key = Devise.authentication_keys.first

- if Errbit::Config.github_authentication
  - content_for :action_bar do
    %span.github= link_to "Sign in with #{Errbit::Config.github_site_title}", user_omniauth_authorize_path(:github), class: 'btn btn-default'

.row
  .col-xs-12.col-sm-6
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .required.form-group
        = f.label auth_key
        = f.text_field auth_key, :type => (Errbit::Config.user_has_username ? 'text' : 'email'), :tabindex => 1, :autofocus => true, class: 'form-control'

      .required.form-group
        = link_to t('.forgot_password'), new_password_path(resource_name), :class => 'pull-right', :id => "forgot_password"
        = f.label :password
        = f.password_field :password, :tabindex => 2, class: 'form-control'

      - if devise_mapping.rememberable?
        %div.checkbox
          %label
            = f.check_box :remember_me, :tabindex => 3
            = t('.remember_me')

      %div.buttons
        %button{:type => 'submit', :class => 'sign_in btn btn-primary'}=t('.sign_in')

:javascript
  $('a#forgot_password').click(function(){
    // Set email field on password reset page to email that user entered on this page
    location.href = $(this).attr('href') + "?email=" + $('#user_#{auth_key}').val();
    return false;
  });

