- auth_key = Devise.authentication_keys.first

.col-sm-5.col-sm-offset-4
  %h1
    Welcome back!
  %hr
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    .form-group
      = f.label auth_key, :class => 'control-label'
      = f.text_field auth_key,
        :type => (Errbit::Config.user_has_username ? 'text' : 'email'),
        :tabindex => 1,
        :autofocus => true,
        :class => 'form-control',
        :placeholder => (Errbit::Config.user_has_username ? 'Username' : 'Email')

    .form-group
      = f.label :password, :class => 'control-label'
      = f.password_field :password,
        :tabindex => 2,
        :class => 'form-control',
        :placeholder => 'Password'

    - if devise_mapping.rememberable?
      .checkbox
        = f.label :remember_me do
          = f.check_box :remember_me, :tabindex => 3
          Remember me

    .form-group
      %button{:type => 'submit', :class => 'btn btn-primary'}
        %span{ :class => 'glyphicon glyphicon-lock'}
        = t('.sign_in')
      = link_to 'Forgot you password?', new_password_path(resource_name),
        :class => 'btn btn-link',
        :id => "forgot_password"

  - if Errbit::Config.github_authentication
    %hr
      = link_to user_omniauth_authorize_path(:github), :class => "btn btn-block btn-github btn-social" do
        %span{:class => 'glyphicon glyphicon-github'}
        Sign in with GitHub


:javascript
  $('a#forgot_password').click(function(){
    // Set email field on password reset page to email that user entered on this page
    location.href = $(this).attr('href') + "?email=" + $('#user_#{auth_key}').val();
    return false;
  });
