%html
  %head
  %body
    %div
      %table(cellpadding="0" cellspacing="0" border="0" width="100%")
        %tbody
          %tr
            %td(style="padding:10px 20px 10px 20px; height: 75px; background-color: #11112f; text-align:left; border-bottom:1px solid #ccccee;")
              = link_to image_tag(URI.join(root_url,"stylesheets/images/logo.png").to_s, :style => "border: none;"), root_url, :style => "display: block; height: 31px; width: 88px; margin-top: 10px;"
          %tr
            %td(style="padding:0px 0px 10px 0px; font-family:Helvetica,Arial,sans-serif; font-size:14px; background-color:#ffffff; text-align:left; border-bottom:1px solid #dddddd;")
              %table(cellpadding="0" cellspacing="0" border="0" align="left")
                %tbody
                  %tr
                    %td(valign="top" style="padding:0px 20px 10px 20px; font-family:Helvetica,Arial,sans-serif; font-size:14px; background-color:#ffffff; text-align:left;")
                      %div(style="line-height:1.3em;")
                        %p(style="margin-top: 22px; margin-bottom:2px")
                          An err has just occurred in
                          = link_to(@app.name, app_url(@app), :style => "color:#000; font-weight: bold;") << ","
                          on the
                          %span(style="color:#000; font-weight: bold;")= @notice.err.environment
                          environment.
                        %p(style="margin-top: 0; margin-bottom:2px")
                          This err has occurred #{pluralize @notice.err.notices_count, 'time'}.
                        %p(style="padding:10px 0 5px 0; margin: 0;")
                          = link_to("Click here to view the error on Errbit", app_err_url(@app, @notice.err), :style => "font-weight:bold;") << "."
          %tr
            %td(style="padding-top:0; padding-bottom:10px; text-align:left;")
              %table(cellpadding="0" cellspacing="0" border="0" align="left")
                %tbody
                  %tr
                    %td(valign="top" style="padding:10px 20px 10px 20px; font-family:Helvetica,Arial,sans-serif; font-size:14px; background-color:#ffffff; text-align:left;")
                      %div(style="line-height:1.3em;")
                        %p(style="color:#777777; margin-top: 10px; margin-bottom: 2px;")
                          Error Message:
                        %p(style="margin-top:0;")
                          = raw(@notice.err.message)
                        %p(style="color:#777777; padding:10px 0 0 0; margin-bottom:0px;")
                          Where:
                        %p(style="margin-top:0; font-family:monospace")
                          = @notice.err.where
                        %p(style="color:#777777; padding:10px 0 0 0; margin-bottom:0px;")
                          URL:
                        %p(style="margin-top:0; margin-bottom:0; font-family:monospace;")
                          - if @notice.request['url'].present?
                            = link_to @notice.request['url'], @notice.request['url']
                        %p(style="color:#777777; padding:10px 0 0 0; margin-bottom:0px;")
                          App Backtrace:
                          - @notice.app_backtrace.map{|l| "#{l['file']}:#{l['number']}" }.each do |backtrace_line|
                            %p(style="margin-top:0; margin-bottom:0; font-family:monospace")= backtrace_line

      = render :partial => 'signature'
      %br

