%tr
  %td.section
    %table(cellpadding="0" cellspacing="0" border="0" align="left")
      %tbody
        %tr
          %td.content(valign="top")
            %div
              %p
                An err has just occurred in
                = link_to(@app.name, app_url(@app), :class => "bold") << ","
                on the
                %span.bold= @notice.environment_name
                environment.
                %br
                This err has occurred #{pluralize @notice.problem.notices_count, 'time'}.
              %p
                = link_to("Click here to view the error on Errbit", app_err_url(@app, @notice.problem), :class => "bold") << "."
%tr
  %td.section
    %table(cellpadding="0" cellspacing="0" border="0" align="left")
      %tbody
        %tr
          %td.content(valign="top")
            %div
              %p.heading ERROR MESSAGE:
              %p= @notice.message
              %p.heading WHERE:
              %p.monospace
                = @notice.where
              - if (app_backtrace = @notice.app_backtrace).any?
                - app_backtrace.map {|l| "#{l['file']}:#{l['number']}" }.each do |line|
                  %p.backtrace= line
                %br
              %p.heading URL:
              %p.monospace
                - if @notice.request['url'].present?
                  = link_to @notice.request['url'], @notice.request['url']
              %p.heading BACKTRACE:
              - @notice.backtrace.map {|l| l ? "#{l['file']}:#{l['number']}" : nil }.compact.each do |line|
                %p.backtrace= line
              %br

