<%# locals: (f:, app:) %>

<%= errors_for app %>

<div class="required">
  <%= f.label :name, t(".name") %>

  <%= f.text_field :name %>
</div>

<% unless app.new_record? %>
  <div>
    <label><%= t(".api_key") %>></label>

    <span><%= app.api_key %></span>

    <%= link_to(t(".regenerate_api_key"), regenerate_api_key_app_path(app), class: "button", method: :post) %>
  </div>
<% end %>
