%fieldset
  %legend= t('.legend')
  = f.fields_for :issue_tracker do |w|
    %div.issue_tracker.nested
      %div.choose
        - w.object.issue_trackers do |tracker|
          = w.label :type, :class => "label_radio #{tracker.label}", :value => tracker.name do
            = w.radio_button :type, tracker.name, 'data-section' => tracker.label
            = tracker.label

      - w.object.issue_trackers do |tracker|
        %div.tracker_params{:class => tracker.params_class(w.object)}
          %p= tracker.note
          - tracker.fields do |field|
            = w.label field.key, field.label
            = field.input(w)

      .image_preloader
        - w.object.issue_trackers do |tracker|
          = image_tag "#{tracker.label}_inactive.png"
          = image_tag "#{tracker.label}_create.png"

