%fieldset
  %legend Issue tracker
  = f.fields_for :issue_tracker do |w|
    %div.issue_tracker.nested
      %div.choose
        = label_tag :type_none, :for => label_for_attr(w, 'type_issuetracker'), :class => "label_radio none" do
          = w.radio_button :type, "IssueTracker", 'data-section' => 'none'
          (None)
        = label_tag :type_lighthouseapp, :for => label_for_attr(w, 'type_lighthousetracker'), :class => "label_radio lighthouseapp" do
          = w.radio_button :type, "LighthouseTracker", 'data-section' => 'lighthouse'
          Lighthouse
        = label_tag :type_redmine, :for => label_for_attr(w, 'type_redminetracker'), :class => "label_radio redmine" do
          = w.radio_button :type, "RedmineTracker", 'data-section' => 'redmine'
          Redmine
        = label_tag :type_pivotal, :for => label_for_attr(w, 'type_pivotallabstracker'), :class => "label_radio pivotal" do
          = w.radio_button :type, "PivotalLabsTracker", 'data-section' => 'pivotal'
          Pivotal Tracker
        %br
        = label_tag :type_fogbugz, :for => label_for_attr(w, 'type_fogbugztracker'), :class => "label_radio fogbugz" do
          = w.radio_button :type, "FogbugzTracker", 'data-section' => 'fogbugz'
          FogBugz
        = label_tag :type_fogbugz, :for => label_for_attr(w, 'type_mingletracker'), :class => "label_radio mingle" do
          = w.radio_button :type, "MingleTracker", 'data-section' => 'mingle'
          Mingle

      %div.tracker_params.none{:class => (w.object && !(w.object.class < IssueTracker)) ? 'chosen' : nil}
        %p When no issue tracker has been configured, you will be able to leave comments on errors.
      %div.tracker_params.lighthouse{:class => w.object.is_a?(LighthouseTracker) ? 'chosen' : nil}
        = w.label :account, "Account"
        = w.text_field :account, :placeholder => "abc from abc.lighthouseapp.com"
        = w.label :api_token, "API token"
        = w.text_field :api_token, :placeholder => "API Token for your account"
        = w.label :project_id, "Project ID"
        = w.text_field :project_id
      %div.tracker_params.redmine{:class => w.object.is_a?(RedmineTracker) ? 'chosen' : nil}
        = w.label :account, "Redmine URL"
        = w.text_field :account, :placeholder => "like http://www.redmine.org/"
        = w.label :api_token, "API token"
        = w.text_field :api_token, :placeholder => "API Token for your account"
        = w.label :project_id, "Project ID"
        = w.text_field :project_id
      %div.tracker_params.pivotal{:class => w.object.is_a?(PivotalLabsTracker) ? 'chosen' : nil}
        = w.label :project_id, "Project ID"
        = w.text_field :project_id
        = w.label :api_token, "API token"
        = w.text_field :api_token, :placeholder => "API Token for your account"
      %div.tracker_params.fogbugz{:class => w.object.is_a?(FogbugzTracker) ? 'chosen' : nil}
        = w.label :project_id, "Area Name"
        = w.text_field :project_id
        = w.label :account, "FogBugz URL"
        = w.text_field :account, :placeholder => "abc from http://abc.fogbugz.com/"
        = w.label :username, 'Username'
        = w.text_field :username, :placeholder => 'Username/Email for your account'
        = w.label :password, 'Password'
        = w.password_field :password, :placeholder => 'Password for your account'
      %div.tracker_params.mingle{:class => w.object.is_a?(MingleTracker) ? 'chosen' : nil}
        = w.label :account, "Mingle URL"
        = w.text_field :account, :placeholder => "http://mingle.yoursite.com/"
        = w.label :project_id, "Project ID"
        = w.text_field :project_id
        = w.label :ticket_properties, "Card Properties (comma separated key=value pairs)"
        = w.text_field :ticket_properties, :placeholder => "card_type = Defect, defect_status = Open, priority = Essential"
        = w.label :username, 'Sign-in name'
        = w.text_field :username, :placeholder => 'Sign-in name for your account'
        = w.label :password, 'Password'
        = w.password_field :password, :placeholder => 'Password for your account'

