<%# locals: (apps:) %>

<table class="apps">
  <thead>
    <tr>
      <th><%= t(".name") %></th>
      <% if any_github_repos? || any_bitbucket_repos? %>
        <th><%= t(".repository") %></th>
      <% end %>
      <% if any_notification_services? %>
        <th><%= t(".notify") %></th>
      <% end %>
      <% if any_issue_trackers? %>
        <th><%= t(".tracker") %></th>
      <% end %>
      <th><%= t(".errors") %></th>
    </tr>
  </thead>

  <tbody>
    <% apps.each do |app| %>

    <% end %>

    <% if apps.none? %>

    <% end %>
  </tbody>
</table>
