<% content_for :title, t(".title") %>

<% content_for :action_bar do %>
  <%= link_to_copy_attributes_from_other_app %>

  <%= link_to destroy_all_app_problems_path(app),
              method: :post,
              data: {
                confirm: t("apps.confirm_destroy_all_problems")
              },
              class: "button" do %>
    <%= fa_icon("trash") %> delete all errs
  <% end %>

  <%= link_to app_path(app),
              method: :delete,
              data: {
                confirm: t("apps.confirm_delete")
              },
              class: "button" do %>
    <%= fa_icon("circle-xmark") %> delete application
  <% end %>

  <%= link_to app_path(app), class: "button" do %>
    <%= fa_icon("arrow-rotate-left") %> <%= t(".cancel") %>
  <% end %>
<% end %>

<%= form_for app_decorate do |f| %>
  <%= render "fields", f: f, app: app %>

  <div class="buttons">
    <%= button_tag(type: "submit") do %>
      <%= fa_icon("floppy-disk") %> <%= t(".update") %>
    <% end %>
  </div>
<% end %>
