- content_for :title, 'Apps'
- content_for :action_bar do
  %span= link_to('Add a New App', new_app_path, :class => 'add') if current_user.admin?

%table.apps
  %thead
    %tr
      %th Name
      %th Last Deploy
      %th Errs
  %tbody
    - @apps.each do |app|
      %tr
        %td.name= link_to app.name, app_path(app)
        %td.deploy
          - if app.last_deploy_at
            - revision = app.deploys.last.short_revision
            = link_to( app.last_deploy_at.to_s(:micro) << (revision.present? ? " (#{revision})" : ""), app_deploys_path(app))
          - else
            n/a
        %td.count
          - if app.errs.count > 0
            - unresolved = @unresolved_counts[app.id]
            = link_to unresolved, app_path(app), :class => (unresolved == 0 ? "resolved" : nil)
          - else
            \-
    - if @apps.none?
      %tr
        %td{:colspan => 3}
          %em
            No apps here.
            = link_to 'Click here to create your first one', new_app_path

