<% content_for :title, t(".title") %>

<% content_for :action_bar do %>
  <% if current_user.admin? %>
    <div class="row">
      <div class="col-12 text-end">
        <%= link_to new_app_path, class: "btn btn-primary" do %>
          <%= inline_svg_tag "icons/plus-circle.svg" %> <%= t(".new_app") %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<% content_for :breadcrumb do %>
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= t(".title") %></li>
        </ol>
      </nav>
    </div>
  </div>
<% end %>

<div class="row">
  <%= render "apps/search" %>
</div>

<div class="row table-responsive">
  <%= render "apps/table", apps: apps %>
</div>
