- content_for :title, 'Add App'
- content_for :action_bar do
  = link_to_copy_attributes_from_other_app
  = link_to 'cancel', apps_path, :class => 'btn btn-default'

.col-md-9.col-sm-8.col-xs-4
  = form_for app do |f|

    = render 'fields', :f => f

    = f.submit 'Add App', :class => "btn btn-success"
