<% content_for :title, app.name %>

<% content_for :head do %>
  <%= auto_discovery_link_tag :atom,
        app_path(app, User.token_authentication_key => current_user.authentication_token, format: :atom),
        title: t(".atom_title", name: app.name, host: request.host) %>
<% end %>

<% content_for :meta do %>
  <% if app.current_app_version.present? %>
    <strong><%= "Latest App Version:" %></strong>

    <%= app.current_app_version %>
  <% end %>

  <strong><%= t(".errors_caught") %></strong>
  <%= app.problems.count %>

  <strong><%= t(".api_key") %></strong>
  <%= app.api_key %>
<% end %>

<% content_for :action_bar do %>
  <% if current_user.admin? %>
    <%= link_to edit_app_path(app), class: "button" do %>
      <%= fa_icon("pen-to-square") %> <%= t(".edit") %>
    <% end %>
  <% end %>

  <% if all_errs %>
    <%= link_to app_path(app, sort: params_sort, order: params_order), class: "button" do %>
      <%= fa_icon("filter") %> <%= t(".unresolved_errs") %>
    <% end %>
  <% else %>
    <%= link_to app_path(app, all_errs: true, sort: params_sort, order: params_order), class: "button" do %>
      <%= fa_icon("list") %> <%= t(".all_errs") %>
    <% end %>
  <% end %>

  <% if app.watched_by?(current_user) %>
    <%= link_to app_watchers_path(app_id: app), method: :delete, class: "button" do %>
      <%= fa_icon("eye-slash") %> <%= t(".unwatch") %>
    <% end %>
  <% else %>
    <%= link_to app_watchers_path(app_id: app), method: :post, class: "button" do %>
      <%= fa_icon("eye") %> <%= t(".watch") %>
    <% end %>
  <% end %>
<% end %>

<div data-controller="reveal">
  <h3 id="watchers_toggle">
    <%= t(".watchers") %>

    <button data-action="reveal#toggle"><%= t(".show_hide") %></button>
  </h3>

  <div class="hidden" data-reveal-target="item">
    <% if app.notify_all_users %>
      <table class="watchers">
        <thead>
          <tr>
            <th><%= t(".all_users_notified") %></th>
          </tr>
        </thead>
      </table>
    <% else %>
      <table class="watchers">
        <thead>
          <tr>
            <th><%= t(".user_or_email") %></th>
          </tr>
        </thead>

        <tbody>
          <% app.watchers.each do |watcher| %>
            <tr>
              <td><%= watcher.label %></td>
            </tr>
          <% end %>

          <% if app.watchers.none? %>
            <tr>
              <td>
                <em><%= t(".no_watchers") %></em>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<% if app.github_repo? %>
  <div data-controller="reveal">
    <h3 id="repository_toggle">
      <%= t(".repository") %>

      <button data-action="reveal#toggle"><%= t(".show_hide") %></button>
    </h3>

    <div class="hidden" data-reveal-target="item">
      <table class="repository">
        <thead>
          <tr>
            <th><%= t(".github_repo") %></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= link_to(app.github_repo, app.github_url, target: "_blank", rel: "noopener noreferrer") %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<% if app.problems.any? %>
  <h3 class="clear"><%= t(".errors") %></h3>

  <section>
    <%= render "problems/search", all_errs: all_errs, app_id: app.id, params_sort: params_sort, params_order: params_order %>
  </section>

  <br>

  <section>
    <div class="problem_table" id="problem_table">
      <%= render "problems/table", problems: problems %>
    </div>
  </section>
<% else %>
  <h3 class="clear"><%= t(".no_error_yet") %></h3>

  <%= render "configuration_instructions_wrapper", app: app %>
<% end %>
