- content_for :title, @app.name
- content_for :meta do
  %strong Errs Caught:
  = @app.errs.count
  %strong API Key:
  = @app.api_key
- content_for :action_bar do
  - if current_user.admin?
    = link_to 'edit', edit_app_path(@app), :class => 'button'
    = link_to 'destroy', app_path(@app), :method => :delete, :confirm => 'Seriously?', :class => 'button'

%h3 Watchers
%table.watchers
  %thead
    %tr
      %th User or Email
  %tbody
    - @app.watchers.each do |watcher|
      %tr
        %td= watcher.label
    - if @app.watchers.none?
      %tr
        %td
          %em Sadly, no one is watching this app

- if @app.errs.any?
  %h3 Errs
  = render 'errs/table', :errs => @errs
- else
  %h3 No errs have been caught yet, make sure you setup your app
  = render 'configuration_instructions', :app => @app