- content_for :title, @app.name
- content_for :head do
  = auto_discovery_link_tag :atom, app_path(@app, User.token_authentication_key => current_user.authentication_token, :format => "atom"), :title => "Errbit notices for #{@app.name} at #{request.host}"
  = javascript_include_tag 'apps.show'
- content_for :meta do
  %strong Errors Caught:
  = @app.problems.count
  %strong Deploy Count:
  = @app.deploys.count
  %strong API Key:
  = @app.api_key
- content_for :action_bar do
  - if current_user.admin?
    = link_to 'edit', edit_app_path(@app), :class => 'button'
    = link_to 'destroy', app_path(@app), :method => :delete, :confirm => 'Seriously?', :class => 'button'
    - if @all_errs
      = link_to 'unresolved errs', app_path(@app), :class => 'button'
    - else
      = link_to 'all errs', app_path(@app, :all_errs => true), :class => 'button'

%h3#watchers_toggle
  Watchers
  %span.click_span (show/hide)
#watchers_div
  - if @app.notify_all_users
    %table.watchers
      %thead
        %tr
          %th All users will be notified when something happens.
  - else
    %table.watchers
      %thead
        %tr
          %th User or Email
      %tbody
        - @app.watchers.each do |watcher|
          %tr
            %td= watcher.label
        - if @app.watchers.none?
          %tr
            %td
              %em Sadly, no one is watching this app

- if @app.github_url?
  %h3#repository_toggle
    Repository
    %span.click_span (show/hide)
  #repository_div
    %table.repository
      %thead
        %tr
          %th GitHub
      %tbody
        %tr
          %td= link_to(@app.github_url, @app.github_url, :target => '_blank')

%h3#deploys_toggle
  Latest Deploys
  %span.click_span (show/hide)
#deploys_div
  - if @deploys.any?
    %table.deploys
      %thead
        %tr
          %th When
          %th Environment
          %th Who
          %th Message
          %th Repository
          %th Revision

      %tbody
        - @deploys.each do |deploy|
          %tr
            %td.when #{deploy.created_at.to_s(:micro)}
            %td.environment #{deploy.environment}
            %td.who #{deploy.username}
            %td.message #{deploy.message}
            %td.repository #{deploy.repository}
            %td.revision #{deploy.short_revision}
    = link_to "All Deploys (#{@app.deploys.count})", app_deploys_path(@app), :class => 'button'
  - else
    %h3 No deploys

- if @app.problems.any?
  %h3.clear Errors
  = render 'errs/table', :errs => @problems
- else
  %h3.clear No errs have been caught yet, make sure you setup your app
  = render 'configuration_instructions', :app => @app

