- content_for :title, "Edit Filter"
- content_for :action_bar do
  = link_to('cancel', filter_path(filter), :class => 'button')

= form_for filter, :html => {:autocomplete => "off"} do |f|
  = filter.errors.full_messages.to_sentence
  = render 'fields', :f => f

  %div.buttons= f.submit 'Update Filter'

