-#  The container tag
-#  available local variables
-#    current_page:  a page object for the currently displayed page
-#    total_pages:     total number of pages
-#    per_page:      number of items to fetch per page
-#    remote:        data-remote
-#    paginator:     the paginator that renders the pagination tags inside
.notice-pagination.clearfix
  = paginator.render do
    %nav
      %ul.pager
        = next_page_tag
        = prev_page_tag
  %span.notice-pagination-loader= image_tag 'loader.gif'
  %span viewing occurrence #{page_count_from_end(current_page, total_pages)} of #{total_pages}
