-#  The container tag
-#  available local variables
-#    current_page:  a page object for the currently displayed page
-#    total_pages:     total number of pages
-#    per_page:      number of items to fetch per page
-#    remote:        data-remote
-#    paginator:     the paginator that renders the pagination tags inside
= paginator.render do
  .notice-pagination
    = next_page_tag
    |
    = prev_page_tag
.notice-pagination-loader= image_tag 'loader.gif'
%div viewing occurrence #{page_count_from_end(current_page, total_pages)} of #{total_pages}
