!!! html
%html
  %head
    %title
      = t('.title')
      &mdash;
      = yield(:page_title).present? ? yield(:page_title) : yield(:title)
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    = favicon_link_tag
    = csrf_meta_tag
    = stylesheet_link_tag :application
    = javascript_include_tag :application

    = yield :head
  %body{:id => controller.controller_name, :class => controller.action_name}
    .container-fluid
      .row
        .col-xs-12.col-md-2.navbar-default.sidebar
          %ul.nav.nav-site-name
            %li= link_to t('.errbit'), root_path, :id => 'navbar-brand'
          - if current_user
            = render 'shared/session'
            = render 'shared/navigation'
        .col-xs-12.col-md-10.col-md-offset-2.main
          #content-title
            %h1= yield :title
            - if (action_bar = yield(:action_bar)).present?
              #action-bar= action_bar
            %span.meta= yield :meta
          = render 'shared/flash_messages'
          = yield
          - if content_for?(:comments)
            #content-comments
              = yield :comments

      #footer
        = t('.powered_html', :link => link_to(t('.errbit'), 'http://github.com/errbit/errbit', :target => '_blank'))
        %br
        = Errbit::Version.to_s

    = yield :scripts
