<!DOCTYPE html>
<html>
  <head>
  </head>
  <body id="#{controller.controller_name}" class="#{controller.action_name}">
    <div id="header">
      <div>
        <%= link_to t(".errbit"), root_path, id: "site-name" %>
        <%= render "shared/navigation" if current_user %>
        <%= render "shared/session" %>
      </div>
    </div>

    <div id="content-wrapper">
      <div id="content-title">

      </div>

      <div id="content">
        <%= render "shared/flash_messages" %>

        <%= yield %>
      </div>

      <% if content_for?(:comments) %>
        <div id="content-comments">
          <%= yield :comments %>
        </div>
      <% end %>
    </div>

    <div id="footer">
      <%= t(".powered_html", link: link_to(t(".errbit"), "https://github.com/errbit/errbit", target: "_blank")) %>
      <br>
      <%= Errbit::Version %>
    </div>

    <%= yield :scripts %>
  </body>
</html>
