!!! html
%html
  %head
    %title
      Errbit &mdash;
      = yield(:page_title).present? ? yield(:page_title) : yield(:title)
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    = favicon_link_tag
    = csrf_meta_tag
    = javascript_include_tag :defaults
    = stylesheet_link_tag 'reset', 'application'
    :css
      #{render :partial => "issue_trackers/icons.css"}

    = yield :head
  %body{:id => controller.controller_name, :class => controller.action_name}
    #header
      %div
        = link_to 'Errbit', root_path, :id => 'site-name'
        = render 'shared/navigation' if current_user
        = render 'shared/session'
    #content-wrapper
      #content-title
        %h1= yield :title
        %span.meta= yield :meta
        - if (action_bar = yield(:action_bar)).present?
          #action-bar
            = action_bar
      #content
        = render :partial => 'shared/flash_messages'
        = yield
      - if content_for?(:comments)
        #content-comments
          = yield :comments
    #footer= "Powered by #{link_to 'Errbit', 'http://github.com/errbit/errbit', :target => '_blank'}: the open source error catcher.".html_safe
    = yield :scripts

