!!! html
%html
  %head
    %title
      = t('.title')
      &mdash;
      = yield(:page_title).present? ? yield(:page_title) : yield(:title)
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    = favicon_link_tag
    = csrf_meta_tag
    = stylesheet_link_tag :application
    = javascript_include_tag :application

    = yield :head
  %body{:id => controller.controller_name, :class => controller.action_name}
    .row
      .col-sm-3.col-md-2.navbar-default.sidebar
        %ul.nav
          %li= link_to t('.errbit'), root_path, :id => 'navbar-brand'
        %ul.nav.nav-sidebar.sidebar-menu
          -# TODO: render from shared/navigation
          -# = render 'shared/navigation' if current_user
          - if current_user
            %li.active= link_to t('.apps'), apps_path, "class" => "glyphicon glyphicon-briefcase"
            %li= link_to t('.errors'), problems_path, "class" => "glyphicon glyphicon-warning-sign"
            %li= link_to t('.users'), users_path, "class" => "glyphicon glyphicon-user"
        %ul.nav.nav-sidebar.sidebar-links
          - if current_user
            %li= link_to t('.sign_out'), destroy_session_path(:user), :id => 'sign-out', :method => :delete
            %li= link_to t('.edit_profile'), edit_user_path(current_user), :id => 'edit-profile'
            -# TODO move links here
            -# = render 'shared/session'

      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        #content-title
          %h1= yield :title
          - if (action_bar = yield(:action_bar)).present?
            #action-bar= action_bar
        = render 'shared/flash_messages'
        = yield
        - if content_for?(:comments)
          #content-comments
            = yield :comments

    -# #content-wrapper
    -#   #content-title{ :class => (yield :title_css_class).to_s, :style => (yield :title_style) }
    -#     %span.meta= yield :meta
    -#   #content
    -#     = render 'shared/flash_messages'
    -#     = yield
    -#   - if content_for?(:comments)
    -#     #content-comments
    -#       = yield :comments

    -# TODO: footer
    #footer
      = t('.powered_html', :link => link_to(t('.errbit'), 'http://github.com/errbit/errbit', :target => '_blank'))
      %br
      = Errbit::Version.to_s
    = yield :scripts
