<!doctype html>
<html lang="en" data-bs-theme="light">
  <head>
    <title>
      <%= t(".title") %>
      &mdash;
      <%= yield(:page_title).present? ? yield(:page_title) : yield(:title) %>
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag %>
    <%= csrf_meta_tag %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "new_application", "data-turbo-track": "reload", integrity: true %>
    <%= stylesheet_link_tag "bootstrap", "data-turbo-track": "reload", integrity: true %>
    <%= javascript_include_tag :new_app %>
    <%= javascript_importmap_tags %>

    <%= yield :head %>
  </head>

  <body>
    <div class="container">
      <% if (action_bar = yield(:action_bar)).present? %>
        <div id="row">
          <%= action_bar %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
